# Simple workflow for deploying static content to GitHub Pages
name: deploy

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Push to Deploy Branch
        run: |
          env | grep GITHUB
          git remote set-url origin https://x-access-token:${{ github.token }}@github.com/${{ github.repository }}
          #git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          #git config --global user.name 'AWSchmeder'
          #git config --global user.email 'awschmeder@users.noreply.github.com'
          #echo "${GITHUB_REF:11}"
          echo "Hello, World"
